.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.participant {
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
}
.participant div {
    text-align: center;
}
.participant div:first-child {
    position: relative;
    width: 240px;
    height: 180px;
    background-color: #ccc;
    border: 1px solid black;
}
.participant video {
    width: 100%;
    height: 100%;
}
.nameLabel {
  background-color: #ebebeb;
  border-style: dotted;
}
.emoji {
  position: absolute;
  font-size:30px;
  top: 8px;
  left: 8px;
  opacity: 0;
  transition:all 1s ease;
}
.emojibuttons {
  margin: auto;
  font-size: 20px;
}
.emojiPanel {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}
.appear{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity:1;
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}